<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
  <body>
<%- include('partials/header') %>
    <div class="container">
      <div class="page-header">
        <h1>Make Up Your Mind</h1>
      </div>
      <h2><%= question %></h2>
      <p>Friends&rsquo; link: <a href="/polls/<%= publicPollKey %>">/polls/<%= publicPollKey %></a></p>
      <p>Your (private) link: <a href="/polls/admin/<%= privatePollKey %>">/polls/admin/<%= privatePollKey %></a></p>
      <div>
      <% choices.sort((a, b) => { return b.points - a.points; }); %>
      <% choices.forEach((choice, index) => { %>
        <% index === 0 && choice.points > 0 ? choice.winner = true : choice.winner = false; %>
        <%- include('partials/pollresult', choice); %>
      <% }); %>
      </div>
      <% if (is_open) { %>
      <p>All the results in?</p>
      <button class="btn btn-default">Close poll</button>
      <% } else { %>
      <p>Want more feedback?</p>
      <button class="btn btn-default">Open poll</button>
      <% } %>
    </div><!-- /.container -->
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
