<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
  <body>
    <script type="text/javascript" src="/scripts/admin-page.js"></script>
<%- include('partials/header') %>
    <div class="container">
      <h2><%= question %></h2>
      <p>Friends&rsquo; link: <a href="/polls/<%= publicPollKey %>">/polls/<%= publicPollKey %></a></p>
      <p>Your (private) link: <a href="/polls/admin/<%= privatePollKey %>">/polls/admin/<%= privatePollKey %></a></p>

      <% let totalPoints = 0; %>
      <% choices.sort((a, b) => { %>
        <% return b.points - a.points; %>
      <% }); %>

      <% let numWinners = 0; %>
      <% choices.forEach((choice, index) => { %>
        <% choice.rank = index + 1; %>
        <% if (index > 0 && choice.points === choices[index-1].points) { %>
          <% choice.rank = choices[index-1].rank; %>
        <% } %>
        <% let winner = choice.points > 0 && choice.points === choices[0].points; %>
        <% totalPoints += choice.points; %>
        <% if (winner) numWinners++; %>
        <% choice.winner = winner; %>
      <% }); %>

      <div class="section-container">
        <header>
        <h3>Results</h3>
      <% if (numWinners === 1) { %>
        <p class="lead">We have a winner!</p>
      <% } else if (numWinners > 1) { %>
        <p class="lead">It&rsquo;s all tied up!</p>
      <% } else { %>
        <p class="lead">No votes yet. Support democracy by <a href="#sendSMS">sending the poll</a> to your friends.</p>
      <% } %>
        </header>
      <% choices.forEach((choice, index) => { %>
        <% choice.mostPoints = choices[0].points; %>
        <% choice.tied = choice.numWinners > 1; %>
        <% choice.totalPoints = totalPoints; %>
        <%- include('partials/pollresult', choice); %>
      <% }); %>
      </div><!-- /.section-container -->

      <%# If the poll is open, show the forms for sending the poll. %>
      <% if (isOpen) { %>
      <div class="section-container">
        <h3>Send the poll</h3>
        <div class="row">
          <div class="col-sm-6">
            <div class="well">
              <h4>Message the poll to your friends!</h4>
              <form id="sendSMS" action="/sms/sendpoll" method="post">
                <div class="form-group">
                  <label for="phone-number">Phone number</label>
                  <input type="number" class="form-control" id="phone-number" name="phone-number" placeholder="6041234559" aria-describedby="phone-number-help" max="9999999999">
                  <span id="phone-number-help" class="help-block">Enter a phone number (no spaces or dashes) and we&rsquo;ll send the poll in an sms message.</span>
                  <input type="hidden" name="private_key" value="<%= privatePollKey %>">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
              </form>
              <p></p>
            </div><!-- /.well -->
          </div>
          <div class="col-sm-6">
            <div class="well">
              <h4>Email the poll to your friends!</h4>
              <form id="sendEmail" action="#sendEmail" method="post">
                <div class="form-group">
                  <label for="email">Email</label>
                  <input type="email" class="form-control" id="email" name="email" placeholder="friend@example.com" aria-describedby="email-help">
                  <span id="email-help" class="help-block">Enter an email and we&rsquo;ll send the poll.</span>
                  <input type="hidden" name="private_key" value="<%= privatePollKey %>">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
              </form>
              <p></p>
            </div><!-- /.well -->
          </div>
        </div><!-- /.row -->
      </div><!-- /.section-container -->

      <p>All the results in?</p>
      <form class="isOpen" action="/polls/admin/<%= privatePollKey %>" method="post">
        <input type="hidden" name="_method" value='PUT'>
        <input type="hidden" name="isOpen" value=''>
        <button type="submit" class="btn btn-default">Close poll</button>
      </form>
      <% } else { %>
      <p>Want more feedback?</p>
      <form class="isOpen" action="/polls/admin/<%= privatePollKey %>" method="post">
        <input type="hidden" name="_method" value='PUT'>
        <input type="hidden" name="isOpen" value='true'>
        <button type="submit" class="btn btn-default">Open poll</button>
      </form>
      <% } %>
    </div><!-- /.container -->
    <%- include('partials/footer') %>
  </body>
</html>
