<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
  <body>
    <script type="text/javascript" src="/scripts/ranking.js"></script>
<%- include('partials/header') %>
    <div class="container">
      <h2><%= question %></h2>
      <p class="lead">Your friend at <%= email %> wants to know:<br>
      <strong><%= question %></strong><br>
      Be involved in the democratic process! Help answer the question by clicking and dragging the options below.</p>
      <h1>you have taken this poll already!!!</h1>
    </div><!-- /.container -->
    <%- include('partials/footer') %>
  </body>
</html>
