<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
  <body>
    <script type="text/javascript" src="/scripts/ranking.js"></script>
<%- include('partials/header') %>
    <div class="container">
      <h2><%= question%></h2>
      <p>Poll creator: <%= email%></p>
      <div class="row">
        <div class="col-sm-6">
          <div class="options-container">
            <h3>Unranked Options</h3>
            <ul class="droptrue list-group" id="unranked-options">
              <% choices.forEach( function( choice ) {%>
                <%- include( 'partials/pollChoice', choice ); %>
              <% }); %>
            </ul>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="options-container">
            <h3>Ranked Options</h3>
            <ul class="droptrue list-group" id="ranked-options">
            </ul>
          </div>
        </div>
      </div>
      <button class="btn btn-default" id="submit-ranking">Submit Your Ranking</button>
    </div><!-- /.container -->
    <%- include('partials/footer') %>
  </body>
</html>
