<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
  <body>
    <script type="text/javascript" src="/scripts/ranking.js"></script>
<%- include('partials/header') %>
    <div class="container">
      <h2><%= question %></h2>
      <p class="lead">Your friend at <%= email %> wants to know:<br>
      <strong><%= question %></strong></p>
      <!-- <div class="row"> -->
        <!-- <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3"> -->
          <div class="section-container options">
            <header>
              <h3>Options</h3>
              <p class="lead">Click and drag to rank the options</p>
            </header>
            <div class="droptrue" id="ranked-options">
              <% choices.forEach((choice, index) => { %>
                <% choice.rank = index + 1; %>
                <%- include( 'partials/pollChoice', choice ); %>
              <% }); %>
            </div>
          </div>
          <button class="btn btn-default btn-lg" id="submit-ranking">Submit Your Ranking</button>
        <!-- </div> --><!-- /.col -->
      <!-- </div> --><!-- /.row -->
    </div><!-- /.container -->
    <%- include('partials/footer') %>
  </body>
</html>
